<div class="container">
    <div class="row">
        <div class="form_bg">
            <h1 align="center">{{title}}</h1>
            <form [formGroup]="personForm" (ngSubmit)="onSubmitForm()">

                {{personForm.value | json}}

                <div class="form-group">
                    <label for="id">ID</label>
                    <input type="text" formControlName="id" id="id" class="form-control" placeholder="ID">
                    <span class="error" *ngIf="personForm.get('id').invalid && personForm.get('id').touched">Id is required</span>
                </div>

                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" formControlName="firstName" id="firstName" class="form-control" placeholder="First Name">
                    <span class="error" *ngIf="personForm.get('firstName').invalid && personForm.get('firstName').touched">FirstName is required</span>
                </div>

                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" formControlName="lastName" id="lastName" class="form-control" placeholder="Last Name">
                    <span class="error" *ngIf="personForm.get('lastName').invalid && personForm.get('lastName').touched">LastName is required</span>
                </div>

                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" formControlName="address" id="address" class="form-control" placeholder="address">
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">Submit</button> &nbsp; &nbsp;
                    <button type="button" class="btn btn-primary" (click)="resetForm()">Reset</button> &nbsp; &nbsp;
                    <button type="button" class="btn btn-primary" (click)="defaultPerson()">DefaultLoad</button> &nbsp; &nbsp;
                </div>
            </form>
        </div>
    </div>
</div>